html
    font-size: 24px !important
.mb4
    margin-bottom: 0.1667rem
.mb8
    margin-bottom: 0.3333rem
.mb12
    margin-bottom: 0.5rem
.mb16
    margin-bottom: 0.6667rem
.mb24
    margin-bottom: 1rem
.mb32
    margin-bottom: 1.3333rem
.mb64
    margin-bottom: 2.6667rem
.mb72
    margin-bottom: 3rem
.p48
    padding: 48px 0

.smb4
    margin-bottom: 4px
.smb8
    margin-bottom: 8px
.smb12
    margin-bottom: 12px
.smb16
    margin-bottom: 16px
.smb24
    margin-bottom: 24px
.smb32
    margin-bottom: 32px

// !xxl
@media (max-width: 1399px)

// !xl
@media (max-width: 1199px)

// !lg
@media (max-width: 991px)

// !md
@media (max-width: 767px)
    html
        font-size: 12px !important
    .p48
        padding: 36px 0
// !sm
@media (max-width: 575px)