.subcategory-slider
    &__item
        text-align: center
    &__img
        background-color: var(--basic-coral-the-lightest)
        padding: 25px
        border-radius: var(--bordrad-20)
        margin-bottom: 0.6667rem
    &__name
        line-height: 105%
    
.category
    &__panel
        display: flex
        justify-content: space-between
    &__title
        margin-bottom: 32px
            
                         
    
.view-buttons
    &__box
        background-color: var(--gray-20)
        border-radius: var(--bordrad-30)
        display: flex
        overflow: hidden
        svg
            width: 24px
            height: 24px
            fill: var(--darknest)
        a
            padding: 12px 20px
            display: flex
            align-items: center
            justify-content: center
            border-radius: var(--bordrad-30)
            transition: var(--transition)
            cursor: pointer
            &.active
                background-color: var(--basic-gray-the-lightest)
// !xxl
@media (max-width: 1399px)

// !xl
@media (max-width: 1199px)

// !lg
@media (max-width: 991px)

// !md
@media (max-width: 767px)
    .subcategory-slider
        &__img
            padding: 15px
        &__name
            font-size: 12px
            line-height: 16px
    .consultation-hard
        margin-bottom: 16px
// !sm
@media (max-width: 575px)