.subcategory-slider
    &__item
        text-align: center
    &__img
        background-color: var(--basic-coral-the-lightest)
        padding: 25px
        border-radius: var(--bordrad-20)
        margin-bottom: 16px
    &__name
        line-height: 105%
    
.category
    &__panel
        display: flex
        justify-content: space-between
    &__main
        // ! стилизация для карточек в виде блока
        &.list
            
                         
    
.view-buttons
    &__box
        background-color: var(--gray-20)
        border-radius: var(--bordrad-30)
        display: flex
        overflow: hidden
        svg
            width: 24px
            height: 24px
            fill: var(--darknest)
        a
            padding: 12px 20px
            display: flex
            align-items: center
            justify-content: center
            border-radius: var(--bordrad-30)
            transition: var(--transition)
            cursor: pointer
            &.active
                background-color: var(--basic-gray-the-lightest)