.module
    &__slide
        padding: 24px 0

// ! блок предложить улучшение

.idea
    background-color: var(--basic-gray-the-lightest)
    display: flex
    justify-content: center
    svg
        width: 24px
        height: 24px
        fill: var(--darknest)
        margin-right: 4px
    a
        color: var(--darknest)
        padding: 12px 0
        transition: inherit
        &:hover
            svg
                fill: var(--ligh)

// ! блок подписаться на рассылку

.sending
    background-color: var(--basic-coral-the-lightest)
    padding: 64px 0
    &__box
        display: flex
        justify-content: space-between
        button
            margin-left: 24px
        input
            width: 100%

.consultation
    border-radius: var(--bordrad-20)
    overflow: hidden
    background-color: var(--basic-coral-the-lightest)
    .row
        height: 100%
    &__box
        padding: 16px 26px 35px 26px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
    img
        width: 100%
        height: 100%
        object-fit: cover
.consultation-hard
    background-color: var(--basic-coral-the-lightest)
    border-radius: var(--bordrad-20)
    padding: 24px 40px
    text-align: center
    &__img
        width: 160px
        height: 160px
        background: url('/image/hard-consultation.png')no-repeat 0%/contain
        text-align: center
        display: inline-block
        margin-bottom: 8px
// ! стилизация модуля на странице каталога при измнении отображения каталога с картчоек на список
.category__main.list
    .consultation-hard
        flex-direction: row-reverse
        align-items: center
        display: flex
        text-align: left
        padding: 10px 72px
        &__img
            width: 240px
            height: 240px
            margin-bottom: 0
            margin-left: 16px