.product-item
    display: flex
    flex-direction: column
    padding: 12px 12px 24px 12px
    transition: var(--transition)
    border-radius: var(--bordrad-20)
    &:hover
        box-shadow: 0px 0px 30px 0px rgba(132, 160, 233, 0.15)
        background-color: var(--white)
        .product-item__buy
            opacity: 1
            z-index: 1
    // ! картинка
    .gallery
        background-color: var(--basic-gray-the-lightest)
        border-radius: var(--bordrad)
        position: relative
        margin-bottom: 24px
        &__img
            background-color: var(--basic-gray-the-lightest)
            img
                width: 100%
                border-radius: var(--bordrad-20)
        // ! позиционирование блока с кнопками и стикерами на картинке
        &__ui
            position: absolute
            width: 100%
            padding: 8px
            top: 0
            left: 0
            right: 0
            display: flex
            justify-content: space-between
    &__name
        font-size: 16px
        font-weight: 700
        line-height: 24px
        display: flex
        align-items: center
        height: 48px
        color: var(--darknest)
        margin-bottom: 8px
    &__head
        margin-top: 24px
        margin-bottom: 24px
    // &__info
    // ! характеристики
    .chars
        opacity: 0.8
        padding-left: 20px
        margin: 0
    &__buy
        z-index: -1
        opacity: 0
        transition: var(--transition)
    // ! блок с кнопкой доабвить в корзину
    &__add-buy
        &.hidden
            display: none !important
        .button
            width: 100%
        svg
            width: 24px
            height: 24px
            fill: var(--white)
            margin-right: 8px
    // ! блок с кнопкой в корзине
    &__in-buy
        display: none
        justify-content: space-between
        gap: 12px
        &.visible
            display: flex !important
        .button
            flex: 1 0 calc( 50% - 6px )

// ! акции, новинка и так далее на картинке
.stickers
    display: flex
    flex-wrap: wrap
    width: 50%
    span
        font-size: 12px
        line-height: 12px
        height: 24px
        color: var(--white)
        font-weight: 700
        padding: 4px 10px
        border-radius: 5px
        margin-right: 8px
        margin-bottom: 8px
        display: flex
        justify-content: center
        white-space: nowrap
        align-items: center
        &:nth-last-child(1)
            margin-right: 0
    &__new
        background-color: var(--basic-green)
    &__akcia
        background-color: var(--basic-red)
    &__fast
        background-color: var(--basic-blue)
// ! добавить еще товар в карзину
.counter
    border-radius: var(--bordrad)
    border: 1px solid var(--gray-gray)
    display: flex
    justify-content: center
    align-items: center
    flex: 1 0 calc( 50% - 6px )
    a
        cursor: pointer
        &:hover
            svg
                fill: var(--basic-coral)
    svg
        width: 24px
        height: 24px
        flex: 0 0 24px
    &__numb
        font-size: 18px
        font-weight: 500
        padding: 0 14px
// ! пункты В наличии, не в наличии, предзаказ и т.п.
.points
    display: none
    &_visible
        display: block
    &__item
        display: flex
        align-items: center
        margin-bottom: 8px
        &:nth-last-child(1)
            margin-bottom: 0
    &__icon
        width: 24px
        height: 24px
        background-repeat: no-repeat
        background-size: contain
        display: block
        margin-right: 8px
        background-position: 0 0
        &_stock
            background-image: url('../icons/instock.svg')
        &_delivery
            background-image: url('../icons/delivery.svg')
        &_predzakaz
            background-image: url('../icons/preorder.svg')
        &_nostock
            background-image: url('../icons/nostock.svg')
// ! блок с кнопочками Избранное и Сравнение
.product-panel
    width: 50%
    display: flex
    justify-content: flex-end
    // ! этот класс для блока, который находится при адаптации карточки товара в строчный вариант
    &_info
        display: none
    a
        margin-right: 10px
        transition: inherit !important
        &:nth-last-child(1)
            margin-right: 0
    svg
        width: 24px
        height: 24px
    &__favorite
        stroke: var(--gray-gray)
        fill: var(--white)
        &.active
            stroke: var(--basic-red) !important
            fill: var(--basic-red) !important
        &:hover
            stroke: var(--basic-red)
            fill: var(--basic-red)
    &__compare
        fill: var(--gray-gray)
        &.active
            stroke: var(--basic-red) !important
            fill: var(--basic-red) !important
        &:hover
            fill: var(--basic-red)
    &__share
        fill: var(--gray-gray)
        &:hover
            fill: var(--basic-red)
    // ! это класс для карточки товара находящейся на странице категории
    &_category
        display: none
// ! блок с ценами
.prices
    display: flex
    flex-wrap: wrap
    &__base
        font-size: 22px
        font-weight: 900
        line-height: 22px
        margin-right: 16px
    &__old
        color: var(--gray-dark)
        font-size: 16px
        text-decoration: line-through

// ! стили для карточки товара которая раскрывается в строчку
.product-item
    &_list
        flex-direction: row
        align-items: center
        margin-bottom: 16px
        .product-item
            &__mobile-wrap
                display: flex
                & > div
                    &:nth-child(1)
                        flex: 1 0 calc( 50% - 25px )
                        margin-right: 50px
                    &:nth-child(2)
                        flex: 0 0 calc( 50% - 25px )
            &__buy
                opacity: 1
            &__head
                margin: 0
                margin-bottom: 16px
                display: flex
            &__add-buy
                .button
                    padding: 11px 16px
        .points
            display: block
        .product-panel
            &_gallery
                display: none
            &_info
                display: flex
        .gallery
            margin-bottom: 0
        .prices
            &__base
                margin-bottom: 6px
        & > div
            &:nth-child(1)
                flex: 1 0 calc( 33% - 24px )
                margin-right: 24px
            &:nth-child(3)
                flex: 0 0 calc( 33% - 49px)
                margin-right: 16px

// ! КЛАССЫ для карточки товара находящейся на странице категории
.product-item
    &__remove-item
        display: none
    &__add-item-mobile
        display: flex


// !xxl
@media (max-width: 1399px)

// !xl
@media (max-width: 1199px)

// !lg
@media (max-width: 991px)

// !md
@media (max-width: 767px)
    .product-item
        &__name
            font-size: 14px
            line-height: 20px
            height: 40px
        .chars
            &__item
                font-size: 12px
                line-height: 20px
        &__add-buy
            svg
                margin-right: 4px
        &__buy
            opacity: 1
    .prices
        &__base
            font-size: 18px
            margin-right: 8px
        &__old
            font-size: 14px
    .stickers
        span
            font-size: 10px
            line-height: 10px
    .product-panel
        svg
            width: 20px
            height: 20px

    .category   // ! адаптация карточки товара для страницы КАТЕГОРИИ
        .counter
            flex: 0 0 100px
        .product-item
            flex-direction: row
            gap: 16px
            padding: 0
            padding-bottom: 24px
            margin-bottom: 16px
            border-radius: 0
            border-bottom: 1px solid var(--gray-gray)
            &__head
                margin-top: 0
                margin-bottom: 24px
            &__add-buy
                display: flex
                justify-content: space-between
                svg
                    margin-right: 0
                .button
                    width: 70px
                span
                    display: none
            &__name
                height: auto
            &__in-buy
                flex-direction: column-reverse
            &__add-item-mobile
                display: flex
                justify-content: space-between
            &__remove-item
                width: 32px
                height: 32px
                border: 1px solid var(--basic-red)
                border-radius: 100%
                display: flex
                justify-content: center
                align-items: center
                svg
                    width: 16px
                    fill: var(--basic-red)
                    height: 16px
        .chars
            display: none
        .gallery
            display: flex
            flex-direction: column-reverse
            flex: 0 0 100px
            background-color: transparent
            margin-bottom: 0
            align-self: flex-start
            &__img
                img
                    border-radius: 5px
            &__ui
                position: relative
                padding: 0
        .product-panel
            &_gallery
                display: none
            &_category
                display: flex
                justify-content: space-between
                align-items: center
                .product-panel
                    &__favorite
                        stroke: var(--gray-gray)
                    &__compare
                        svg
                            fill: var(--gray-gray)
                a
                    margin-right: 0
        .stickers
            width: 100%
            margin-bottom: 16px
            justify-content: space-between
            gap: 4px
            span
                color: var(--txt-the-darknest)
                text-transform: uppercase
                margin-right: 0
                margin-bottom: 0
                display: flex
                flex: 1
            &__new
                background-color: transparent
                border: 1px solid var(--basic-green)
            &__akcia
                background-color: transparent
                border: 1px solid var(--basic-red)



    
// !sm
@media (max-width: 575px)