<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- plagins -->
        <!-- jquery -->
        <script src="/catalog/view/plagins/jquery3.js"></script>
        <!-- bootstrap -->
        <link rel="stylesheet" href="/catalog/view/plagins/bootstrap5/bootstrap5.css">
        <script src="/catalog/view/plagins/bootstrap5/bootstrap5.js"></script>
        <!-- slick -->
        <link rel="stylesheet" href="/catalog/view/plagins/slick/slick.css">
        <script src="/catalog/view/plagins/slick/slick.js"></script>
        <!-- swiper -->
        <link rel="stylesheet" href="/catalog/view/plagins/swiper/swiper.css">
        <script src="/catalog/view/plagins/swiper/swiper.js"></script>
    <!-- files -->
    <link rel="stylesheet" href="/catalog/view/theme/default/stylesheet/stylesheet.css">
    <link rel="stylesheet" href="/catalog/view/theme/default/stylesheet/responsive.css">
    <title>Document</title>
</head>
<body>

    <script src="/catalog/view/theme/default/js/script.js"></script>
</body>
</html>